localhost:8000 {
	root ./dist
	gzip
	push
	rewrite {
		regexp .*
		to {path} /
	}
}

localhost:8001 {
	gzip
	proxy / localhost:8500

	cors / {
		origin http://localhost:8000
		allow_credentials true
		allowed_headers Content-Type
	}
}
