.form-sign-on {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 20px;

	text-align: center;
}

.form-sign-on form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.form-sign-on form input {
	display: block;

	width: 300px;
	
	padding: 5px 0;
	margin: 10px 0;
	outline: none;
	-webkit-outline: none;
	border: 0;
	border-bottom: 2px solid grey;
	line-height: 1.4rem;
	font-size: 1rem;

	transition: border-bottom-color .2s;
}

.form-sign-on form input:focus {
	border-bottom-color: black;
}

.form-sign-on form input[type="submit"] {
	border: 1px solid black;
	border-radius: 5px;
	background-color: #f5f5f6;

	padding: 5px 10px;
	margin-top: 20px;

	font-size: 1rem;

	cursor: pointer;

	transition: background-color .2s;
}

.form-sign-on form input[type="submit"]:hover {
	background-color: #ced7db;
}

.form-sign-on form .error {
	color: red;
}
