a, a:visited {
    text-decoration: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.transition {
    transition: all .2s;
}

.short-transition {
    transition: all .1s;
}

.post:after {
    content: '';
    display: block;
    padding-top: 100%
}

@keyframes slidein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        top: 40px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

.toast-enter {
    top: 40px;
    animation: slidein 500ms;
}

.toast-leave {
    top: 0;
    animation: slideout 500ms;
    animation-fill-mode: forwards;
}

@keyframes flash {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

.flash {
    animation: flash 800ms;
}

.button--take-a-pick:disabled {
    background-color: #CBD5E0;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    animation: loading 1.2s linear infinite;
}

.blur {
    transition-delay: 500ms;
    filter: blur(15px);
}

.account-input:disabled {
    background-color: transparent;
    color: inherit;
    border-color: white;
}

.switch::after {
    content: '';
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: white;
    transition: transform .2s, background-color .1s;
}

.switch-container.switch-on {
    background-color: #B794F4;
}

.switch-container.switch-off {
    background-color: #CBD5E0;
}

.switch-container.switch-on > .switch::after {
    transform: translateX(1.5rem);
    background-color: #6B46C1;
}

.switch-container.switch-off > .switch::after {
    transform: translateX(0);
    background-color: white;
}
